.mheader {
	background: #eaeaea;
	border:1px solid #cbcbcb;
}

.toprung {
	background: #eaeaea;
	border:1px solid #cbcbcb;
}

.wheader {
	font-family: Verdana,Arial;
	font-weight: bold;
	font-size: 75%;
}

.mheader2 {
	font-family: Trebuchet MS,Arial;
	font-size:20px;
	border: 1px solid #ccc;
	background: #eaeaea;
	padding: 5px;
}

.mweeks {
	border: 1px solid #EAD098;
	background: #FFF4BC;
	padding: 5px;
}

.mdays {
	border: 1px solid #EAD098;
	background: #FFFFD5;
	padding: 5px;
	height:95px;
}

.circulate_notcurrent {
	border: 1px solid #fff;
	padding:2px;
}

.circulate_current {
	border: 1px solid #959595;
	padding:2px;
	background: #fff url(images/pages.gif) repeat-x top center;
	color: white;
	text-align:center;
}
.circulate_current a { color: white; }

.time_set {
	font-family:Trebuchet MS;
	font-size: 22px;
	background:#f2f2f2;
	border: 1px solid #ccc;
}

.time_set_cal {
	font-family:Trebuchet MS;
	font-size: 22px;
	background:#FFF;
	border: 1px solid #ccc;
}

.time_slot {
	border: 1px solid #EAD098;
	background: #FFFFD5;
	padding: 5px;
}

.time_slot_ah {
	border: 1px solid #EAD098;
	background: #FFF4BC;
	padding: 5px;
}

.cal_item { color: black; }
.cal_item a { color: #06C; text-decoration: none; }
.cal_item a:hover { color: #333; text-decoration: none;}
.cal_item a:active { color: #000;text-decoration: none; }

.calmultiselect {
	font-family: Arial;
	font-size:14px;
	padding: 5px;
	width:196px;
	height:75px;
}

.multibackground {
	background: #f8f8f8;
	border: 1px solid #ccc;
}

.alldayevent {
	border: 1px solid #C1D2EE;
	background: #EBF2FB;
	padding: 5px;
}

