body {
	background-color: #FFFFFF;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	scrollbar-3dlight-color: #F0F0EE;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #F0F0EE;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #F0F0EE;
	scrollbar-shadow-color: #F0F0EE;
	scrollbar-track-color: #F5F5F5;
}

.Header1 {
	font-weight: bold;
	font-size: 16px
}

.Header2 {
	font-weight: bold;
	font-size: 14px;
}

.Header3 {
	font-weight: normal;
	font-size: 12px;
}