body {
	background: #F1F3F2 url('images/header-background_2.gif') repeat-x 0 0;
	font-family: Arial, Verdana;
	font-size: 14px;
	color: #5f5f5f;
	text-align: center;
	margin:0;
	padding:0
}

#container {
	width:960px;
	position: relative;
	margin: 0 auto; text-align: left;
}

#silvercrm {
	position:absolute;
	left:0px;
	top:14px;
	width:140px;
	height:26px;
}

#menu-tabs {
	position:absolute;
	left:307px;
	top:14px;
	width:563px;
	height:26px;
}

#app-screenshot {
	position:absolute;
	left:459px;
	top:67px;
	width:492px;
	height:292px;
}

#strapline-1 {
	position:absolute;
	left:0px;
	top:88px;
	width:459px;
	height:86px;
}

#strapline-2 {
	position:absolute;
	left:0px;
	top:174px;
	width:459px;
	height:95px;
}

#strapline-3 {
	position:absolute;
	left:28px;
	top:321px;
	width:359px;
	height:57px;
}

#main-body {
	position:absolute;
	left:0px;
	top:378px;
	width:960px;
	padding:5px 13px;
}

#benefit-1 {
	position:absolute;
	left:0px;
	top:399px;
	width:341px;
}

#benefit-2 {
	position:absolute;
	left:341px;
	top:399px;
	width:333px;
}

#benefit-3 {
	position:absolute;
	left:674px;
	top:399px;
	width:286px;

}

.notetext {
	padding: 0 15px;
	margin: 0;
	color: #373737;
	font-size:12px;
}