html {
	background: #EDEBE3;
	background:#fff url(/images/header.gif) repeat-x top center;
	
}

body, div, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: Tahoma,sans-serif;
	font-size:    x-small;
	voice-family: inherit;
	font-size: 12px;
	color: #333;
}  

a { color: #06C; text-decoration: none; }
a:hover { color: #333; text-decoration: underline;}
a:active { color: #000;text-decoration: underline; }

p { line-height: 140%; }

h1 {
	font-family: trebuchet ms,tahoma,verdana,sans-serif;
	font-weight: bold;
	font-size: 140%;
	color: #333;
	padding-bottom: 2px;
	margin: 0;
}

h2 {
	font-family: trebuchet ms,tahoma,verdana,sans-serif;
	font-weight: bold;
	font-size: 135%;
	color: #333;
	padding-bottom: 2px;
	border-bottom: 1px dotted #CCC;
	margin: 0;
}

#loading {
 	width: 350px;
 	height: 75px;
 	background-color: #e2e2e2;
 	position: absolute;
 	margin-top: 25%;
 	margin-left: 32%;
 	text-align: center;
	opacity:0.4;filter:alpha(opacity=40);
	color:#000;
	border: 1px solid #b7b7b7;
}

.dotted_line {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 2px;
	padding-bottom: 10px;
}

#body_message_left {
	background: #ebebeb;
	padding: 5px;
	font-family: Tahoma,verdana,sans-serif;
	font-size: 105%;
	line-height: 130%;
	width:235px;
	float:left;
	border: 1px solid #ccc;
}

#body_message_right {
	background: #fff;
	padding: 5px;
	font-family: tahoma,verdana,sans-serif;
	font-size: 105%;
	line-height: 130%;
	float:left;
	padding: 0 0 0 10px ;
}

#main {
	text-align: left;
	border: 1px solid #ccc;
	background: #FFF;
	clear: both;
	width: 98%;
	margin-top: -1px;
}

#bodyarea {
	padding: 5px;
	min-height: 300px;
}

#topbar {
	padding-bottom: 0.5em;
	font-family: trebuchet ms,verdana,sans-serif;
	font-weight: bold;
	font-size: 200%;
}

#topbar a { text-decoration: none; color: #000; }

#topbar a:hover { text-decoration: underline; }

/*///////////// Tabs Code ////////////*/

#tabs {
	font-family: tahoma,verdana,sans-serif;
	font-size: 97%;
	clear: both;
	text-align: center;
}

#tabs ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#tabs li { 
	float: left; 
}

#tabs span {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	background: #ebebeb;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 6px 15px 6px 15px;
	text-decoration: none;
	color: #333;
}

#tabs a {
	position: relative;
	top: 0;
	margin: 1px 2px 0 0;
	float: left;
	background: #f7f7f7;
	border-right: 1px solid #AAA;
	border-top: 1px solid #AAA;
	border-left: 1px solid #AAA;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	color: #333;
}

#tabs a:hover {
	background: #e3e3e3;
	position: relative;
	top: 0;
	padding: 5px 15px 6px 15px;
	margin-top: 0px;
}

#tabs a.active {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	background: #FFF3B3;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 6px 4px 6px 10px;
	text-decoration: none;
	color: #333;
}

#tabs a.active:hover {
	position: relative;
	top: 0;
	margin: 0 2px 0 0;
	float: left;
	background: #FFF3B3;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 6px 4px 6px 10px;
	text-decoration: none;
	color: #333;
}

#subtabs ul {
	list-style-type: none;
	margin: 0;
	padding: 0 0 0 0;
}

#subtabs li {
	float: left;
	padding: 0 8px 0 8px;
	border-left: 1px solid #CCC;
	white-space: nowrap;
}

#subtabs li:first-child { border-left: none; }

#subtabs {
	font-family: tahoma,verdana,sans-serif;
	font-size: 97%;
	background: #ebebeb;
	color: #ccc;
	padding: 5px 7px 7px 7px; /* for All other Browsers */
}

#subtabs span.right {
	float: right;
  	text-align: right;
}

#microtabs {
	font-family: tahoma,tahoma,verdana,sans-serif;
	font-size: 85%;
	background: #ebebeb;
	padding: 7px;
	width:97%;
}

#microtabs span.left {
	float: left;
  	text-align: left;
  	width: 70%;
	margin-top: 3px
}

#microtabs span.right {
	float: right;
  	text-align: right;
  	width: 30%;
}

.microselect {
	font-family: Tahoma;
	font-size:90%;
	color:#4c4c4c;
	margin-right: 15px;
}


/*///////////// Errors Tags ////////////*/

.reg_errors {
	padding: 20px 0 0 0 ;
	color: red;
	font-size: 115%;
}

/*///////////// Table Tags ////////////*/

.quicksearch {
	font-size: 105%;
	background: #f8f8f8;
	width: 195px;
	border: 1px solid #CCC;

}

.listsearch {
	font-size:11px;
	font-family:Verdana;
	width: 95%;
}

.quicksearch textfield{
	font-size: 105%;
	background: #fff;
}

.ls_on {
	background: #efefef ;
	padding: 5px;
	border:1px dashed #d4d4d4;
}

.lsdsld {
	background: #f4f4f4 ;
	padding: 10px;
	border:1px solid #efefef;
}

.ls_off {
	background: #fcfcfc ;
	padding: 5px;
	border:1px dashed #d4d4d4;
}

.ls_top {
	background: #e8e8e8;
	padding: 5px;
	border:1px dashed #d4d4d4;
}

.ls_sep {
	background: #dedede ;
	padding: 5px;
	border:1px dashed #ccc;
}

.ls_note {
	background: #fbfbfb ;
	padding: 5px;
	border:1px dashed #ccc;
}

.maindisplay_on {
	background: #ebebeb ;
}


/*///////////// Form Tags ////////////*/

.standardfield_large {
	font-size:125%;
	width:500px;
	color:#4c4c4c;
}

.standardfield {
	font-family:tahoma;
	font-size:105%;
	width:255px;
	color:#4c4c4c;
}

.standardfield_addy {
	font-family:tahoma;
	font-size:105%;
	width:105px;
	color:#4c4c4c;
}

.standardfield_label {
	font-family:tahoma;
	font-size:105%;
	width:135px;
	color:#4c4c4c;
}

.standardfield_short {
	font-family: tahoma;
	font-size:105%;
	width:155px;
	color:#4c4c4c;
}

.standardfield_medium {
	font-family: tahoma;
	font-size:105%;
	width:200px;
	color:#4c4c4c;
}

.standardfield_tiny {
	font-family: tahoma;
	font-size:105%;
	width:90px;
	color:#4c4c4c;
}

.standardfield_ns {
	font-family: tahoma;
	font-size:105%;
	width:60px;
	color:#4c4c4c;
}

.standardfield_date {
	font-family: tahoma;
	font-size:14px;
	width:133px;
	color:#4c4c4c;
}

.standardfield_date_sm {
	font-family: Tahoma;
	font-size:11px;
	width:75px;
	color:#4c4c4c;
}

.standardfield_date_srch {
	font-family: Tahoma;
	font-size:11px;
	width:105px;
	color:#4c4c4c;
}

.standardfield_super {
	font-family: tahoma;
	font-size:20px;
	width:133px;
	color:#4c4c4c;
	text-align: right;
	font-weight:bold;
}

.standardfield_alarm {
	font-family: tahoma;
	font-size:105%;
	width:110px;
	color:#4c4c4c;
}

.standardfield_calsubject {
	font-family: tahoma;
	font-size:130%;
	width:300px;
	color:#4c4c4c;
}

.standardfield_alarm_activity {
	font-family: tahoma;
	font-size:105%;
	width:195px;
	color:#4c4c4c;
}

.standardfield_tinytime {
	font-size:105%;
	width:65px;
	color:#4c4c4c;
}

.standardtextarea {
	font-family: tahoma;
	font-size:105%;
	width:255px;
	height:100px;
	color:#4c4c4c;
}

.standardtextarea_address {
	font-family: tahoma;
	font-size:105%;
	width:255px;
	height:65px;
	color:#4c4c4c;
}

.standardselect {
	font-family: tahoma;
	font-size:105%;
	color:#4c4c4c;
}

.standardselect_small {
	font-family: Tahoma;
	font-size:11px;
	color:#4c4c4c;
}

.standardselect_activity {
	width:175px;
	font-family: tahoma;
	font-size:105%;
	color:#4c4c4c;
}

div.edittext a { color: #06C; }

div.edittext a:hover { color: #333; }
div.edittext a:active { color: #000; }

div.edittext span.left {
  float: left;
  text-align: left;
  width: 63%;
}

div.edittext span.right {
  float: right;
  font-family:Verdana ;
  font-size:80% ;
  text-align: right;
  width: 35%;
}

/*///////////// Modal Tags ////////////*/

#modal_container {
	padding:5px;
	background-color:#fff;
	border:1px solid #666;
	overflow:auto;
	font-family:"Lucida Grande",Verdana;
	color:#333;
}

#modal_container.test {
	background-color:#900;
	color:#fff;
	padding:300px;
}

#modal_overlay {
	background-color:#000;
	padding:65px;
}

#modal_overlay.test {
	background-color:#fff;
}

/*///////////// Help Tags ////////////*/

.note {
	font-size: 11px;
	font-family: Tahoma;
}

.noteg {
	font-size: 11px;
	font-family: Tahoma;
	color: #929292;
}

.note2 {
	font-size: 12px;
	font-family: Tahoma;
}

/*///////////// Menu Bar////////////*/

#menu_bar {	
	margin-right:0px;
	height:35px;
}

/*///////////// Activity Manager ////////////*/

.actsubjectfield {
	font-size:130%;
	width:275px;
	color:#4c4c4c;
}

table.activity_manager {
	font-size:85%;
}

table.settings {
	font-family: Tahoma;
	font-size:11px;
}



/*///////////// Next Page  ////////////*/

.pages {
    margin: 1em 0;
    clear: left;
    font-size: 75%;
	color: #7F7F7F ;
}

.pages a, .pages span {
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
	color: #7F7F7F ;
}

.pages span.current {
    border: 1px solid #0F6CD1;
    font-weight: bold;
/*    background: #0F6CD1;*/
	background: transparent url(/images/pages.gif) top left no-repeat;
    color: #fff;
	width:25px;
}

.pages a {
    border: 1px solid #7F7F7F;
    text-decoration: none;
}

.pages a:hover {
    border-color: #0F6CD1;
}

.pages a.nextprev {
    font-weight: bold;
}

.pages span.nextprev {
    border: 1px solid #ddd;
    color: #999;
	width:55px;
}

.leadsdisplay {
	font-size:150%;
	font-weight: bold;
	color: #000000;
}

.leadsdisplayred {
	font-size:150%;
	font-weight: bold;
	color: #ff0000;
}

#sorting span.top {
	position:absolute;
	padding: 1px;
}

#footer {
	font-family:Tahoma;tahoma;
	font-size:11px;
	text-align:right;
	margin-top:5px;
	margin-right:25px;
	margin-bottom:25px;
	color: #707070;
}

.divSmallMessage {
	display:none;
	position:absolute;
	left:400px;top:350px;
	overflow:visible;
	width:390px;
	height: 90px;
	padding:10px;
	background: #fff url(/images/field-back.gif) no-repeat top left;
	border: 1px solid #969696;
}

/*
.button {
	font-family: tahoma;
	font-size: 14px;
	cursor: pointer;
	width:55px;
}*/

.button_2 {
	font-family: tahoma;
	font-size: 14px;
	cursor: pointer;
	width:75px;
}

.labelSaveChanges {
	font-family: Trebuchet MS;
	font-size:22px;
	font-weight:bold;
	color:#000;
}

.filterhighlight {
	background-color:#0079E3;
	color: #fff;
	font-size:120%;
	padding: 3px 0px 3px 4px;
}

.filterhighlight2 {
	padding: 3px 0px 3px 3px;
}

a.quick_menu, a.quick_menu:visited, div.quick_menu {
  display: block;
  width:   100px;
  padding: 0 0 0 0;
  text-decoration: none;
  font-family: tahoma;
  font-size: 11px;
  color:   #0066CC;
  position:absolute;
  left: 84%

}

a.quick_menu, a.quick_menu:visited { 
	border-bottom: none; 
}

a.quick_menu_item, a.quick_menu_item:visited, div.quick_menu_item {
  display: block;
  border:  1px solid #cacaca;
  padding: 5px 15px 5px 0px;
  background: #f8f8f8;
  text-decoration: none;
  font-family: tahoma;
  font-size: 11px;
  color:   #0066CC;
  
}

a.quick_menu_item:hover {
	background: #ededed;
}

a.quick_menu_item, a.quick_menu_item:visited { 
	border-bottom: none; 
}

div#quick_menu_menu_child { 
	border-bottom: 1px solid #cacaca; 
}

.messageboard { 
	background: #FDF2B9 ; 
	border: dashed 1px #EAD098; 
	color: #A67100;
	padding: 5px;
	font-family: tahoma;
	font-size: 11px;
}

.warningboard {
	background: #cc3300 ; 
	border: dashed 1px #EAD098; 
	color: #A67100;
	padding: 5px;
	font-family: tahoma;
	font-size: 11px;
}

.notifier { 
	background: #9acd32 ; 
	color: #006600;
	padding: 10px;
	font-family: Trebuchet MS, Arial;
	font-size: 20px;
	font-weight:bold;
}

.notifierred { 
	background: #E50000; 
	color: white;
	padding: 10px;
	font-family: Trebuchet MS, Arial;
	font-size: 20px;
	font-weight:bold;
}