body, div, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: Arial,sans-serif;
}  

a { color: #06C; text-decoration: none; }
a:hover { color: #333; text-decoration: underline;}
a:active { color: #000;text-decoration: underline; }

.sched_dates {
	font-family:Tahoma;
	font-size: 70%;
	text-align:center;
}

.mweeks {
	border: 1px solid #EAD098;
	background: #FFF4BC;
	padding: 5px;
}

.md {
	border: 1px solid #EAD098;
	background: #FFFFD5;
	padding: 5px;
}

.md_l {
	border: 1px solid #000000;
/*	background: #CCCCCC;  */
	padding: 5px;
}

.mheader {
	background: #eaeaea;
	border: 1px solid #ccc;
	padding: 1px;
}

.multibackground {
	background: #f8f8f8;
	border: 1px solid #ccc;
}