/* Big tabs */
div#big-tabs {
	background: transparent url(../images/tabs/bottomborder.png) bottom left repeat-x;
	height: 30px;
	float: left;
	margin: 0 0 -5px 0;
	width: 100%;
}
div#big-tabs ul {
	padding: 0;
	margin: 0 0 0 10px;
}
div#big-tabs ul li {
	float: left;
	list-style: none;
	line-height: 30px;
	padding: 0;
	margin: 0 4px 0 0;
	background: transparent url(../images/tabs/tab_bg_left.png) top left no-repeat;
}
div#big-tabs ul li a {
	display: block;
	color: #5a5a5a;
	font-weight: bold;
	font-size: 97%;
	font-family: Arial, Helvetica, sans-serif !important;
	text-decoration: none;
	background: transparent url(../images/tabs/tab_bg_right.png) top right no-repeat;
	padding: 0 12px 0 8px;
	/*border: solid 1px #000;*/
}
div#big-tabs ul li.selected {
	background: url(../images/tabs/tab_bg_left_selected.png) top left no-repeat;
	color: #5a5a5a;
	cursor:hand;
}
div#big-tabs ul li.selected a {
	background: transparent url(../images/tabs/tab_bg_right_selected.png) top right no-repeat;
	color: #5a5a5a;
}
div#big-tabs span.icon {
	padding-left: 25px;
	display: block;
	margin: 0;
	cursor:hand;
}
div#big-tabs span.addresses {
	background: url(../images/icons/address_book.png) no-repeat center left;
}
div#big-tabs span.activities {
	background: url(../images/icons/pin_yellow.png) no-repeat center left;
}
div#big-tabs span.pricing {
	background: url(../images/icons/16_shadow/creditcards.png) no-repeat center left;
}
div#big-tabs span.contactslist {
	background: url(../images/icons/businessmen.png) no-repeat center left;
}
div#big-tabs span.notes {
	background: url(../images/icons/lifebelt.png) no-repeat center left;
}

div#big-tabs span.college {
	background: url(../images/icons/graduate.png) no-repeat center left;
}

div#big-tabs span.payments {
	background: url(../images/icons/creditcards.png) no-repeat center left;
}

div#big-tabs span.documents {
	background: url(../images/icons/folder_new.png) no-repeat center left;
}
div#big-tabs span.mypricelist {
	background: url(../images/icons/cashier.png) no-repeat center left;
}
div#big-tabs span.leadsvalue {
	background: url(../images/icons/calculator_16.png) no-repeat center left;
}
div#big-tabs span.description {
	background: url(../images/icons/document_notebook.png) no-repeat center left;
}
div#big-tabs span.myleads {
	background: url(../images/icons/dot-chart_16.png) no-repeat center left;
}
div#big-tabs span.messaging {
	background: url(../images/icons/mail.png) no-repeat center left;
}

div#big-tabs span.lessons {
	background: url(../images/icons/index_16.png) no-repeat center left;
}

div#big-tabs span.tabs {
	background: url(../images/icons/more_tabs.png) no-repeat center;
}
div#big-tabs span.right {
  float: right;
}


.list-content {
	margin-right: 10px;
	float: left;
	display: inline;
	width:100%;
	
}
.list-content a,
.list-content a {
	text-decoration: none;
}

