.carousel-control {
  cursor: pointer;
  height: auto;
  text-align: center;
  background-image: none;
  font-size: inherit;
  background-color: #FFFFFF;
  color: #75716c;
  border: 1px solid #e9e9e9;
  width: 20px;
  height: 32px;
  -webkit-text-shadow: none;
  text-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  opacity: 1;
  filter: alpha(opacity=100);
  margin-right: 0;
  margin-left: 3px;
}
.carousel-control:hover,
.carousel-control:focus {
  border-color: #7bbd42;
  color: #7bbd42;
  opacity: 1;
  filter: alpha(opacity=100);
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  background-image: -webkit-gradient(linear,0% top,100% top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
  background-image: -webkit-linear-gradient(left,color-stop(rgba(0,0,0,0) 0%),color-stop(rgba(0,0,0,0) 100%));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%);
  background-image: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
  line-height: 30px;
}
.carousel-control.left {
  right: 0;
  left: auto;
}
.carousel-control.right {
  left: 0;
  right: auto;
}
.carousel-control .fa {
  font-size: 14px;
  display: block;
}
.carousel-indicators li,
.carousel-indicators.active {
  border-color: #7bbd42;
}
.producttabs, .product-related , .featured_box{
  position: relative;
}
.carousel-controls {
  position: absolute;
  top: 0;
  right: 23px;
  z-index: 12;
}
