.outerbox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:-5px;
}
.outerbox .innerbox {
  /* width: 100%;  */   /* DEFINES TABLES WIDTH */
     width: 95%;
     padding:-5px;
}
.innerbox {
    display: inline;
    float: left;
    height: 750px;       /* DEFINES TABLES HEIGHT */
    overflow-x: auto;
    overflow-y: auto;
    padding:-5px;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

