body { font-family:Arial; font-size:14px; background: #eaeaea; }
a { color: #06C; text-decoration: none; }
a:hover { color: #333; text-decoration: none;}
a:active { color: #000;text-decoration: underline; }
.note { font-size: 11px; font-family: Tahoma; }