body { font-family:Arial; font-size:14px; margin-left: 40px; }
	a { color: #06C; text-decoration: none; }
	a:hover { color: #333; text-decoration: none;}
	a:active { color: #000;text-decoration: underline; }
	.note { font-size: 11px; font-family: Tahoma; }
	.noteg { font-size: 11px; font-family: Tahoma; color:#929292; }
	.ls_on { background: #efefef ; padding: 5px; border:1px solid #d8d8d8; }
	.ls_mid { background: #f8f8f8 ; padding: 5px; border:1px solid #d8d8d8; }
	.ls_off { background: #fcfcfc ; padding: 5px; border:1px solid #ebebeb; }
	.ls_top { background: #e8e8e8; padding: 5px; border:1px solid #d8d8d8; }
	h1 { font-family: Arial,sans-serif; font-weight: bold; font-size: 22px; color: #333; padding-bottom: 2px; margin: 0; }
	h2 { font-family: Arial,sans-serif;font-size: 14px; color: #6f6f6f; padding-bottom: 2px; margin: 0; } 
	.classdeactive { background: #86CB7B ; border: solid 1px #5C995D ; }
	.classactive { background: #EA876F ; border: solid 1px #862A22 ; }
	.standardfield { font-family:Arial; font-size:105%; width:255px; color:#4c4c4c; }
	.messageboard { background: #FFF4BC ; border: solid 1px #EAD098; color:#C38500 }
	.standardfield_ns {font-family: Arial;font-size:105%;width:60px;color:#4c4c4c;}
	.standardselect {font-family: Arial;font-size:105%;color:#4c4c4c;}
	.standardfield_large {font-size:125%;width:200px;color:#4c4c4c;}
	
a.quick_menu, a.quick_menu:visited, div.quick_menu {
  display: block;
  width:   120px;
  padding: 0 0 0 0;
  text-decoration: none;
  font-family: Arial;
  font-size: 11px;
  color:   #0066CC;
  position:absolute;
  left: 70%

}

a.quick_menu, a.quick_menu:visited { 
	border-bottom: none; 
}

a.quick_menu_item, a.quick_menu_item:visited, div.quick_menu_item {
  display: block;
  border:  1px solid #cacaca;
  padding: 5px 15px 5px 0px;
  background: #f8f8f8;
  text-decoration: none;
  font-family: Arial;
  font-size: 11px;
  color:   #0066CC;
  
}

a.quick_menu_item:hover {
	background: #ededed;
}

a.quick_menu_item, a.quick_menu_item:visited { 
	border-bottom: none; 
}

div#quick_menu_menu_child { 
	border-bottom: 1px solid #cacaca; 
}