body { 
	background: #f8f8f8;
	font-family:Arial;
	font-size:14px;
}
a { color: #06C; text-decoration: none; }
a:hover { color: #333; text-decoration: none;}
a:active { color: #000;text-decoration: underline; }
.note {font-size: 11px;font-family: Tahoma;}
.itembackground {background: #eeeeee;}
.itembackground:hover {background: #d9d9d9;}
.itembackground:active {background: #d9d9d9;}	
.isactive {background: #ccff99;}
h2 {font-size:18px;font-weight:normal;margin:0 0 10px 0;}
