body { 
	background-image: url('../../images/top-bg.gif'); background-repeat: repeat;
	color: #fff;
	font-family:Arial;
	font-size:14px;
	margin-top:3px;
}
a { color: #fff; text-decoration: none; }
a:hover { text-decoration: underline; }